.primaryButton {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #38a169;
  border: none;
  color: #f7fafc;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .primaryButton {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.primaryButton:hover {
  background-color: #246844;
}
.secondaryButton {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #718096;
  border: none;
  color: #f7fafc;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .secondaryButton {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.secondaryButton:hover {
  background-color: #4f5b6b;
}
.hidden {
  display: none;
}
#adults,
#children,
#infants {
  width: 50px;
}
input[id$="[amount]"] {
  width: 100px;
}
.introBits {
  grid-gap: 0 20px;
  border-bottom: 1px solid #e2e8f0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(304px, 2fr));
}
.introBits-bit {
  display: grid;
  grid-template-rows: -webkit-min-content auto -webkit-min-content;
  grid-template-rows: min-content auto min-content;
}
.introBits h2 {
  margin-top: 0;
}
.section {
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 30px;
  padding-top: 30px;
}
.section h2 {
  margin-top: 0;
}
.section p:last-child {
  margin-bottom: 0;
}
.section:last-child {
  border-bottom: 0;
}
.pageContent {
  padding: 20px 10px;
}
@media (min-width: 37.5em) {
  .pageContent {
    padding: 40px 20px;
  }
}
.item-layout .pageContent {
  padding: 20px;
}
@media (min-width: 37.5em) {
  .item-layout .pageContent {
    padding: 40px;
  }
}
.h1,
.prose h1 {
  color: #2d3748;
  font-size: 2.25em;
  line-height: 1.11111;
  margin-bottom: 25px;
  max-width: 15em;
}
@media (min-width: 37.5em) {
  .h1,
  .prose h1 {
    font-size: 3em;
    line-height: 1.04167;
  }
}
.h2,
.prose h2 {
  color: #2d3748;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 10px;
  margin-top: 25px;
  max-width: 20em;
}
@media (min-width: 37.5em) {
  .h2,
  .prose h2 {
    font-size: 19px;
    line-height: 1.05263;
  }
}
.p,
.prose p {
  color: #2d3748;
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 30px;
  max-width: 30em;
}
@media (min-width: 37.5em) {
  .p,
  .prose p {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.list,
.prose ul {
  color: #2d3748;
  margin-bottom: 30px;
  margin-top: 20px;
  max-width: 30em;
  padding-left: 20px;
}
.listItem,
.prose li {
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 5px;
}
@media (min-width: 37.5em) {
  .listItem,
  .prose li {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.hero {
  background-color: #edf2f7;
  padding: 20px 10px;
}
@media (min-width: 37.5em) {
  .hero {
    padding: 50px 20px;
  }
}
.hero p:last-child {
  margin-bottom: 0;
}
.hero a:link,
.hero a:visited {
  color: #2d3748;
}
@media (min-width: 45em) {
  @supports (display: grid) {
    .wrapperPane {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: -webkit-min-content -webkit-min-content auto;
      grid-template-rows: min-content min-content auto;
      height: 100vh;
    }
    .bodyPane {
      display: grid;
      grid-template-columns: 300px auto;
      min-height: 0;
    }
  }
}
.subNavPane {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
@media (min-width: 45em) {
  .subNavPane {
    background-color: #e2e8f0;
  }
  @supports (display: grid) {
    .subNavPane {
      padding: 30px 14px 30px 15px;
    }
  }
}
@media (min-width: 45em) {
  .contentPane {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
  }
}
.selectAll {
  display: inline-block;
  vertical-align: top;
}
.inbox {
  list-style: none;
  margin-left: 0;
}
.inbox li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  overflow: hidden;
}
.inbox li a {
  color: #000;
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}
.inbox li:hover {
  background-color: #ddd;
}
.inbox li label {
  display: none;
}
.inbox li input {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 14px;
}
.inbox-date,
.inbox-recipient,
.inbox-subject {
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inbox-recipient {
  width: 15%;
}
.inbox-subject {
  width: 65%;
}
.inbox-date {
  text-align: right;
  width: 20%;
}
.search:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.filter-heading {
  margin-bottom: 20px;
}
.filter {
  text-align: right;
}
@media (min-width: 50em) {
  .filter {
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
    text-align: left;
    width: 20%;
  }
}
.enhanced .filter {
  border-bottom: 1px solid #718096;
  border-top: 1px solid #718096;
  margin-bottom: 20px;
  padding-bottom: 9px;
  padding-top: 9px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (min-width: 50em) {
  .enhanced .filter {
    border-bottom: none;
    border-top: none;
    padding-top: 0;
    position: static;
  }
}
.filter-wrapper {
  background-color: #e2e8f0;
  padding-top: 20px;
  text-align: left;
}
.enhanced .filter-wrapper {
  border-left: 1px solid #718096;
  bottom: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  padding: 9px;
  position: fixed;
  right: -1px;
  top: 63px;
  top: 0;
  width: 200px;
}
@media (min-width: 50em) {
  .enhanced .filter-wrapper {
    border: none;
    box-shadow: none;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    padding: 15px;
    position: static;
    width: auto;
  }
}
.filter h2 {
  margin-bottom: 15px;
  margin-top: 0;
}
.products {
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 50em) {
  .products {
    float: left;
    width: 75%;
  }
}
.products h2 {
  margin-bottom: 15px;
  margin-top: 0;
}
.products-wrapper {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-bottom: 30px;
}
@media (min-width: 50em) {
  .products-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.product {
  background-color: #eee;
  height: 200px;
}
.filter .field {
  margin-bottom: 0;
}
.filter .field-options {
  margin-bottom: 30px;
}
.filter legend {
  display: block;
  width: 100%;
}
.filter legend button {
  all: inherit;
  border: 0;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
}
.filter legend button:focus {
  box-shadow: none;
}
.filter legend button svg {
  height: 1.2em;
  margin-left: 0.5em;
  margin-top: 0.2em;
}
[aria-expanded="true"] .vert {
  display: none;
}
.filter legend button:focus svg {
  box-shadow: 0 0 1px 4px #ecc94b;
}
[aria-expanded="true"] + .filter-wrapper {
  display: block;
}
[aria-expanded="false"] + .filter-wrapper {
  display: none;
}
.filter form {
  position: relative;
}
.current-filters {
  margin-bottom: 50px;
}
.current-filters h3 {
  margin-bottom: 20px;
}
.filter-close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  border: 0;
  font-weight: 700;
  height: 2.5em;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 2.5em;
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.progress {
  -webkit-animation: spin 1s steps(8) infinite;
  animation: spin 1s steps(8) infinite;
  display: inline-block;
  font-size: 12px;
  height: 5em;
  left: 16px;
  margin: 0 0.5em;
  overflow: hidden;
  position: absolute;
  text-indent: 999em;
  top: 48px;
  width: 5em;
}
.small.progress {
  font-size: 6px;
}
.large.progress {
  font-size: 25px;
}
.progress:after,
.progress:before,
.progress > div:after,
.progress > div:before {
  background: #eee;
  border-radius: 0.2em;
  box-shadow: 0 3.5em #eee;
  content: "";
  height: 1.5em;
  left: 2.25em;
  position: absolute;
  top: 0;
  transform-origin: 50% 2.5em;
  width: 0.5em;
}
.progress:before {
  background: #555;
}
.progress:after {
  background: #777;
  transform: rotate(-45deg);
}
.progress > div:before {
  background: #999;
  transform: rotate(-90deg);
}
.progress > div:after {
  background: #bbb;
  transform: rotate(-135deg);
}
.filter .field-checkbox label,
.filter .field-radioButton label {
  background: 0 0;
  border: none;
  padding: 0;
}
.searchHeader {
  background-color: #2d3748;
  color: #f7fafc;
  overflow: hidden;
  padding: 10px 15px;
}
.searchHeader div {
  float: left;
  line-height: 1em;
  padding: 10px 0;
}
.searchHeader button {
  background: 0 0;
  border: none;
  float: right;
  padding: 10px;
}
.searchForm {
  background-color: #e2e8f0;
  padding: 30px 25px;
}
fieldset {
  border: none;
  padding: 0;
}
.field {
  margin-bottom: 30px;
  max-width: 26em;
}
.field--inline {
  display: inline-block;
  margin-bottom: 0;
  max-width: auto;
}
.field label,
.field legend {
  display: block;
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 5px;
}
@media (min-width: 37.5em) {
  .field label,
  .field legend {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.field-label,
.field-legend {
  color: #2d3748;
  display: block;
  font-weight: 700;
}
.field-hint {
  color: #4a5568;
  display: block;
  margin-bottom: 5px;
}
.field-error {
  color: #e53e3e;
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}
.field-error svg {
  fill: #e53e3e;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: bottom;
  width: 1.5625em;
}
select {
  font-size: 1em;
  line-height: 1.25;
  width: 100%;
}
@media (min-width: 37.5em) {
  select {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
[type="date"],
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #718096;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.25;
  padding: 8px;
  width: 100%;
}
@media (min-width: 37.5em) {
  [type="date"],
  [type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  textarea {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
[type="file"] {
  -webkit-appearance: none;
  background-color: #e2e8f0;
  border: 2px solid #e2e8f0;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.25;
  padding: 15px 10px;
  width: 100%;
}
[type="file"]:hover {
  border: 2px solid #2d3748;
}
textarea {
  height: 10em;
}
.field-radioButton label {
  background-color: #e2e8f0;
  border: 2px solid #e2e8f0;
  color: #2d3748;
  display: block;
  margin-bottom: 5px;
  padding: 13px 18px;
}
.field-radioButton input {
  margin-right: 10px;
  transform: scale(1.5);
}
.field-radioButton label:hover {
  border-color: #4a5568;
}
.field-checkbox label {
  background-color: #e2e8f0;
  border: 2px solid #e2e8f0;
  color: #2d3748;
  display: block;
  margin-bottom: 5px;
  padding: 13px 18px;
}
.field-checkbox input {
  margin-right: 10px;
  transform: scale(1.5);
}
.field-checkbox label:hover {
  border-color: #4a5568;
}
.field-dayWrapper,
.field-monthWrapper,
.field-yearWrapper {
  display: inline-block;
}
.field-dayWrapper,
.field-monthWrapper {
  width: 4em;
}
.field-yearWrapper {
  width: 5em;
}
.field-dayWrapper label,
.field-monthWrapper label,
.field-yearWrapper label {
  color: #2d3748;
  display: block;
}
.field-dayBox,
.field-monthBox,
.field-yearBox {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: 2px solid #718096;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.25;
  padding: 8px;
}
.field-dayBox,
.field-monthBox {
  width: 3em;
}
.field-yearBox {
  width: 4.5em;
}
[type="checkbox"]:focus,
[type="date"]:focus,
[type="email"]:focus,
[type="file"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="radio"]:focus,
[type="search"]:focus,
[type="submit"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
button:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 1px 4px #ecc94b;
  outline: 0;
}
#expiry {
  width: 5em;
}
#cvc {
  width: 4em;
}
#postcode {
  width: 8em;
}
#date,
#tdate {
  width: 11em;
}
.economyClass .field-legend,
.firstClass .field-legend {
  font-style: italic;
  font-weight: 400;
}
.plane-row {
  margin-bottom: 10px;
  overflow: hidden;
}
.plane-seat {
  float: left;
  margin-right: 5px;
}
.plane-seat--economyClass:nth-child(3) {
  margin-right: 10px;
}
.plane-seat--firstClass:nth-child(2) {
  margin-right: 30px;
}
.plane-seat label {
  color: #2d3748;
  margin-bottom: 0;
  padding: 10px;
  position: relative;
}
.plane-seat label:hover {
  background-color: #a0aec0;
}
.enhanced .plane-seat input {
  left: -9999em;
  position: absolute;
}
.enhanced .plane-seat label {
  background: 0 0;
  padding: 0;
}
.enhanced .plane-seatNumber {
  background-color: #e2e8f0;
  border: 2px solid #718096;
  border-radius: 5px;
  display: block;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  width: 1.3em;
}
.enhanced .plane-seatNumber:hover {
  background-color: #718096;
  border-color: #718096;
}
.enhanced [type="checkbox"]:focus + .plane-seatNumber {
  border: 2px solid #ecc94b;
}
.enhanced [type="checkbox"]:checked + .plane-seatNumber {
  background-color: #2f855a;
  border-color: #2f855a;
  color: #fff;
}
.enhanced [type="checkbox"]:disabled + .plane-seatNumber {
  background-color: #718096;
  border-color: #718096;
  color: #4a5568;
  text-decoration: line-through;
}
.errorSummary {
  border: 4px solid #e53e3e;
  margin-bottom: 20px;
  max-width: 40em;
  padding: 16px;
}
.errorSummary h2 {
  color: #2d3748;
  margin-top: 0;
}
.errorSummary:focus {
  box-shadow: 0 0 1px 4px #ecc94b;
  outline: 0;
}
.errorSummary h2 {
  margin-bottom: 10px;
}
.errorSummary ul {
  color: #e53e3e;
  font-size: 1em;
  line-height: 1.25;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}
@media (min-width: 37.5em) {
  .errorSummary ul {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.errorSummary a {
  color: #e53e3e;
  font-weight: 700;
}
.errorSummary a:focus {
  box-shadow: 0 0 1px 4px #ecc94b;
  outline: 0;
}
.dropzone {
  margin-bottom: 40px;
}
.dropzone .field {
  margin-bottom: 20px;
}
.dropzone-enhanced {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  max-width: 520px;
  outline: 2px dashed #2d3748;
  padding: 70px 40px 55px;
  text-align: center;
  transition: outline-offset 0.1s ease-in-out, background-color 0.1s linear;
}
.dropzone-enhanced .secondaryButton {
  display: none;
}
.dropzone .field-file {
  border: none;
  text-align: center;
}
.dropzone-enhanced [type="file"] {
  left: -9999em;
  position: absolute;
}
.dropzone-enhanced .field-label {
  font-size: 1em;
  line-height: 1;
}
.dropzone-dragover {
  background: #a0aec0;
  outline: 2px dashed #e2e8f0;
  outline-offset: -10px;
}
.files {
  list-style: none;
  margin-bottom: 30px;
  margin-left: 0;
  max-width: 600px;
}
.files h2 {
  margin-bottom: 20px;
}
.files ul {
  list-style: none;
  margin: 0;
}
.files li {
  border-bottom: 1px solid #a0aec0;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
}
.file-name {
  float: left;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
}
@media (min-width: 37.5em) {
  .file-name {
    width: 160px;
  }
}
.files .error {
  color: #e53e3e;
  float: left;
  font-weight: 700;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}
@media (min-width: 37.5em) {
  .files .error {
    width: 300px;
  }
}
.files .error svg {
  fill: #e53e3e;
  margin-top: 3px;
  vertical-align: bottom;
  width: 1.5em;
}
.files .success {
  color: #38a169;
  float: left;
  font-weight: 700;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}
@media (min-width: 37.5em) {
  .files .success {
    width: 300px;
  }
}
.files .success svg {
  fill: #38a169;
  margin-top: 3px;
  vertical-align: bottom;
  width: 1.5em;
}
.files progress {
  margin-top: 4px;
  width: 20%;
}
.files button {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #718096;
  border: none;
  color: #f7fafc;
  float: right;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .files button {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.files button:hover {
  background-color: #4f5b6b;
}
.dropzone-enhanced label {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #718096;
  background-color: #e2e8f0;
  border: none;
  color: #f7fafc;
  color: #2d3748;
  font: inherit;
  font-size: 1em;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .dropzone-enhanced label {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.dropzone-enhanced label:hover {
  background-color: #4f5b6b;
  background-color: #a0aec0;
}
.dropzone-focused {
  box-shadow: 0 0 1px 4px #ecc94b;
  outline: 0;
}
.stepper {
  display: flex;
}
.stepper-addButton,
.stepper-removeButton {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #4a5568;
  border: none;
  color: #f7fafc;
  font: inherit;
  font-size: 1em;
  font-size: 1.5em;
  line-height: 1.5625;
  line-height: 1.17em;
  padding: 10px 20px;
  vertical-align: bottom;
}
@media (min-width: 37.5em) {
  .stepper-addButton,
  .stepper-removeButton {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.stepper-addButton:hover,
.stepper-removeButton:hover {
  background-color: #2a303b;
  color: #ecc94b;
}
.stepper-removeButton {
  border-radius: 10px 0 0 10px;
  padding-left: 15px;
  padding-right: 13px;
}
.stepper-addButton {
  border-radius: 0 10px 10px 0;
  padding-left: 13px;
  padding-right: 15px;
}
.stepper input[type="number"] {
  -moz-appearance: textfield;
  border-color: #4a5568;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 4em;
  z-index: 2;
}
.stepper input[type="number"]::-webkit-inner-spin-button,
.stepper input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.selectAll-button {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #718096;
  border: none;
  border-radius: 0;
  color: #f7fafc;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .selectAll-button {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.selectAll-button:hover {
  background-color: #4f5b6b;
}
.autocomplete {
  position: relative;
}
.autocomplete [type="text"] {
  -webkit-appearance: none;
  border: 2px solid #718096;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.25;
  padding: 0.5em;
  width: 100%;
}
.autocomplete-isFocused {
  outline: 3px solid #ecc94b;
  outline-offset: 0;
}
.autocomplete-button {
  -webkit-appearance: none;
  background-color: #f7fafc;
  border: none;
  font-size: 2em;
  line-height: 0.8em;
  overflow: hidden;
  padding: 0.1em 0.35em;
  position: absolute;
  right: 0.1em;
  top: 0.1em;
}
.autocomplete svg {
  fill: #4a5568;
  height: 1.5em;
  position: absolute;
  right: 0.6em;
  top: 0.8em;
  width: 1.5em;
}
.autocomplete [role="listbox"] {
  -webkit-overflow-scrolling: touch;
  background-color: #f7fafc;
  border: 2px solid #718096;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  max-height: 12em;
  overflow-y: auto;
  overflow-y: scroll;
  padding: 0;
  position: relative;
  position: absolute;
  top: 2.3em;
  width: 100%;
  z-index: 2;
}
.autocomplete [role="option"] {
  margin: 0;
  outline: 0;
}
.autocomplete-optionNoResults,
.autocomplete [role="option"] {
  border-bottom: 2px solid #718096;
  display: block;
  line-height: 22px;
  padding: 0.5em;
}
.autocomplete-optionNoResults {
  cursor: not-allowed;
}
.autocomplete [role="option"]:hover,
.autocomplete [role="option"][aria-selected="true"] {
  background-color: #38a169;
  border-color: #38a169;
  color: #f7fafc;
}
/*
.menu {
  display: inline-block;
  padding: 0 0 20px;
  position: relative;
}
.menu [type="button"] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #718096;
  border: none;
  border-radius: 0;
  color: #f7fafc;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .menu [type="button"] {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.menu [type="button"]:hover {
  background-color: #4f5b6b;
}
.menu [type="button"]:after {
  background-image: url(/public/img/icon-arrow-black-down.45eb7699.svg);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 5px;
  margin-left: 10px;
  vertical-align: middle;
  width: 10px;
}
.menu [type="button"] span {
  font-size: 2em;
  left: 2px;
  line-height: 0;
  position: relative;
  top: 0.1em;
}
.menu-item {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #718096;
  border: none;
  border-radius: 0;
  color: #f7fafc;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .menu-item {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.menu-item:hover {
  background-color: #4f5b6b;
}
.menu [role="menuitem"] {
  border-radius: 0;
  color: #f7fafc;
  display: block;
  text-align: left;
  width: 100%;
}
.menu [role="menuitem"]:focus {
  position: relative;
  z-index: 10;
}
@media (min-width: 45em) {
  .menu [role="menuitem"] {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: #718096;
    border: none;
    border-radius: 0;
    color: #f7fafc;
    display: inline-block;
    font: inherit;
    font-size: 1em;
    line-height: 1.5625;
    padding: 10px 20px;
    vertical-align: top;
    width: auto;
  }
}
@media (min-width: 45em) and (min-width: 37.5em) {
  .menu [role="menuitem"] {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
@media (min-width: 45em) {
  .menu [role="menuitem"]:hover {
    background-color: #4f5b6b;
  }
}
.menu [role="menu"] {
  position: absolute;
  top: 50px;
  width: 10em;
}
@media (min-width: 45em) {
  .menu [role="menu"] {
    position: static;
    width: auto;
  }
}
.menu [aria-expanded="true"] + [role="menu"] {
  display: block;
}
.menu [aria-expanded="false"] + [role="menu"] {
  display: none;
}
*/
.addAnother {
  margin-bottom: 50px;
  max-width: 40em;
}
.addAnother-heading {
  margin-bottom: 40px;
  outline: 0;
}
.addAnother-item:first-child {
  border-top: 1px solid #aaa;
}
.addAnother-item {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  padding: 20px 0 0;
  position: relative;
}
.addAnother-removeButton {
  position: absolute;
  right: 0;
  top: 0;
}
.datepicker [type="date"],
.datepicker [type="text"] {
  margin-right: 10px;
  max-width: 10em;
  vertical-align: top;
}
.datepicker button[aria-haspopup] {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #718096;
  border: none;
  color: #f7fafc;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 10px 20px;
}
@media (min-width: 37.5em) {
  .datepicker button[aria-haspopup] {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.datepicker button[aria-haspopup]:hover {
  background-color: #4f5b6b;
}
.datepicker-wrapper {
  border-left: 6px solid #2d3748;
  margin-top: 1em;
  max-width: 400px;
  padding: 0 10px;
}
.datepicker-calendar {
  border: 1px solid #a0aec0;
  max-width: 400px;
  padding-bottom: 20px;
}
.datepicker-actions {
  border-bottom: 1px solid #a0aec0;
  margin-bottom: 6px;
  text-align: center;
}
.datepicker-actions:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.datepicker [role="status"] {
  color: #2d3748;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 12px;
}
.datepicker-actions button {
  -webkit-appearance: none;
  background: 0 0;
  border: none;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.25;
  padding: 1.1em 1.3em 0.8em;
  vertical-align: bottom;
}
.datepicker-actions button:first-child {
  float: left;
}
.datepicker-actions button:last-child {
  float: right;
}
.datepicker-back:hover,
.datepicker-next:hover {
  background-color: #e2e8f0;
  color: #2d3748 !important;
}
.datepicker-back:focus,
.datepicker-next:focus {
  outline: 3px solid #ecc94b;
  outline-offset: 0;
}
.datepicker [role="gridcell"] {
  cursor: default;
}
.datepicker [role="gridcell"]:focus {
  outline: 3px solid #ecc94b;
  outline-offset: 0;
}
.datepicker-nextMonthDay,
.datepicker-previousMonthDay {
  color: #a0aec0;
}
.datepicker-day-isToday {
  position: relative;
}
.datepicker-today {
  font-size: 0.5em;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.datepicker [aria-selected="true"],
.datepicker [role="gridcell"]:hover {
  background-color: #48bb78;
  border-color: #48bb78;
  color: #f7fafc;
}
.datepicker table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 95%;
}
.datepicker td,
.datepicker th {
  color: #2d3748;
  font-size: 1.2em;
  padding: 9px 0;
  text-align: center;
}
.datepicker tr:last-child td {
  border-bottom: none;
}
.passwordRevealer {
  position: relative;
}
.passwordRevealer input {
  padding-right: 70px;
}
.passwordRevealer button {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #f7fafc;
  background: #718096;
  border: none;
  border-radius: 0;
  bottom: 2px;
  color: #e2e8f0;
  font: inherit;
  font-size: 1em;
  line-height: 1.5625;
  padding: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 80px;
}
@media (min-width: 37.5em) {
  .passwordRevealer button {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.passwordRevealer button:hover {
  background-color: #bfd7e7;
  background: #718096;
  color: #f7fafc;
}
.example {
  margin-bottom: 45px;
  max-width: 760px;
  overflow: hidden;
  position: relative;
}
.example iframe {
  border: 1px solid #a0aec0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.example-link {
  background-color: #e2e8f0;
  margin-bottom: 0;
  padding: 5px 15px 10px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.example-link a {
  color: #2d3748;
  font-size: 0.875em;
  text-decoration: none;
}
.announcement {
  align-items: flex-start;
  background-color: #f2f8fd;
  border: 1px solid #e1eef9;
  display: flex;
  margin: 16px 16px 32px;
  max-width: 500px;
  padding: 16px;
}
.announcement img {
  margin-right: 16px;
  width: 80px;
}
*,
.announcement div {
  margin: 0;
}
* {
  padding: 0;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
}
body,
html {
  font-size: 100%;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  border-top: 5px solid #2d3748;
  color: #2d3748;
}
kbd {
  border: 1px solid #2d3748;
  border-radius: 0.125rem;
  box-shadow: 1px 1px 0 currentColor, 1px 1px 0 currentColor;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  padding: 0.0625rem 0.5rem;
}
table {
  border-collapse: collapse;
  margin-bottom: 25px;
  max-width: 620px;
  table-layout: fixed;
}
@media (min-width: 37.5em) {
  table {
    margin-bottom: 35px;
  }
}
table td,
table th {
  border-bottom: 1px solid #788b9b;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
@media (min-width: 37.5em) {
  table td,
  table th {
    font-size: 1.375rem;
    line-height: 2.1875rem;
  }
}
hr {
  border: 1px solid #788b9b;
  border-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 37.5em) {
  hr {
    font-size: 1.375rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 64em) {
  hr {
    max-width: 620px;
  }
}
/*
a:link,
a:visited {
  color: #0277bd;
}
a:focus,
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 3px solid #ffd346;
}
*/
main {
  display: block;
}
.heading {
  background-color: #edf2f7;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 37.5em) {
  .heading {
    padding-bottom: 110px;
    padding-top: 110px;
  }
}
.heading-measure {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 77.5em) {
  .heading-measure {
    margin-left: auto;
    margin-right: auto;
  }
}
.heading-label {
  color: #788b9b;
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.5625rem;
  text-transform: uppercase;
}
@media (min-width: 37.5em) {
  .heading-label {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }
}
.heading-title {
  font-size: 2.5rem;
  letter-spacing: -0.03em;
  line-height: 2.5rem;
  margin-bottom: 20px;
  max-width: 62.5rem;
  word-break: break-word;
}
@media (min-width: 37.5em) {
  .heading-title {
    font-size: 4.6875rem;
    line-height: 4.6875rem;
  }
}
.heading-text {
  font-size: 1.375rem;
  line-height: 1.875rem;
  max-width: 62.5rem;
}
@media (min-width: 37.5em) {
  .heading-text {
    font-size: 1.5rem;
    line-height: 2.1875rem;
  }
}
.content {
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 37.5em) {
  .content {
    padding-bottom: 110px;
    padding-top: 110px;
  }
}
.content-measure {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1200px;
}
@media (min-width: 77.5em) {
  .content-measure {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 64em) {
  .content-indent {
    padding-left: 120px;
  }
}
.header-anchor:link,
.header-anchor:visited {
  color: #788b9b;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}
@media (min-width: 64em) {
  .header-anchor:link,
  .header-anchor:visited {
    margin-left: -1em;
    margin-right: 0;
    position: absolute;
  }
}
.content h2 {
  font-size: 1.875rem;
  letter-spacing: -0.03em;
  line-height: 2.1875rem;
  margin-bottom: 20px;
  margin-top: 55px;
  max-width: 620px;
}
@media (min-width: 37.5em) {
  .content h2 {
    font-size: 2.8125rem;
    line-height: 3.125rem;
    margin-top: 75px;
  }
}
.content h2:first-child {
  margin-top: 0;
}
.content h3 {
  font-size: 1.1875rem;
  letter-spacing: -0.01em;
  line-height: 1.5625rem;
  margin-bottom: 5px;
  max-width: 620px;
}
@media (min-width: 37.5em) {
  .content h3 {
    font-size: 1.4375rem;
    line-height: 2.1875rem;
    margin-bottom: 10px;
    margin-top: 35px;
  }
}
.content h3:first-child {
  margin-top: 0;
}
.content h3 + .image {
  margin-top: 15px;
}
@media (min-width: 37.5em) {
  .content h3 + .image {
    margin-top: 30px;
  }
}
.content p {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 25px;
  max-width: 620px;
}
@media (min-width: 37.5em) {
  .content p {
    font-size: 1.375rem;
    line-height: 2.1875rem;
    margin-bottom: 35px;
  }
}
.content ol,
.content ul {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  margin-bottom: 25px;
  max-width: 620px;
}
@media (min-width: 37.5em) {
  .content ol,
  .content ul {
    font-size: 1.375rem;
    line-height: 2.1875rem;
    margin-bottom: 35px;
  }
}
.content ol li,
.content ul li {
  margin-bottom: 15px;
  margin-left: 25px;
}
.content pre {
  background: linear-gradient(#fffde6 100%, #2d3748),
    linear-gradient(#2d3748, #fffde6 0) 100% 0,
    radial-gradient(
      farthest-side at 0 50%,
      rgba(144, 134, 9, 0.5),
      rgba(144, 134, 9, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(144, 134, 9, 0.5),
        rgba(144, 134, 9, 0)
      )
      100% 0;
  background-attachment: local, local, scroll, scroll;
  background-color: #fffde6;
  background-repeat: no-repeat;
  background-size: 8px 100%, 8px 100%, 8px 100%, 8px 100%;
  color: #2d3748;
  margin-bottom: 25px;
  max-width: 100%;
  max-width: 900px;
  overflow-x: auto;
  padding: 20px;
}
@media (min-width: 37.5em) {
  .content pre {
    margin-bottom: 35px;
    padding: 30px;
  }
}
@media (min-width: 64em) {
  .content pre {
    margin-left: -100px;
  }
}
.content li code,
.content p code,
.content ul code {
  font-weight: 500;
}
@media (min-width: 64em) {
  .content-block {
    display: flex;
    justify-content: space-between;
  }
  .content-block1 {
    margin-right: 104px;
    width: 414px;
  }
}
.content-blockImage {
  max-width: 100%;
}
@media (min-width: 64em) {
  .content-block2 {
    width: 890px;
  }
  .content-blockA {
    max-width: 890px;
  }
  .content-blockB {
    margin-left: 104px;
    max-width: 414px;
  }
}
.content + .content {
  padding-top: 0;
}
.content blockquote {
  border-left: 3px solid #2d3748;
  color: #2d3748;
  font-style: italic;
  margin-bottom: 25px;
  padding: 0 20px 0 18px;
}
.content blockquote cite {
  font-weight: 700;
}
.content-indent figure {
  margin-bottom: 45px;
  margin-top: 40px;
  max-width: 900px;
}
@media (min-width: 64em) {
  .content-indent figure {
    margin-left: -50px;
  }
}
@media (min-width: 37.5em) {
  .content-indent .image--small figure {
    margin-left: 0;
  }
}
figure img {
  display: block;
  margin-bottom: 5px;
}
.image--border img {
  border: 4px solid #e0e7e9;
}
figcaption {
  color: #545454;
  font-size: 1rem;
  padding-top: 5px;
}
@media (min-width: 37.5em) {
  figcaption {
    font-size: 1.125rem;
  }
}
iframe {
  margin-bottom: 20px;
  max-width: 900px;
}
@media (min-width: 37.5em) {
  iframe {
    margin-left: -100px;
  }
}
.content pre code {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  overflow-x: auto;
}
@media (min-width: 37.5em) {
  .content pre code {
    font-size: 1.375rem;
    line-height: 2.1875rem;
  }
}
.content .publication-title {
  margin-bottom: 5px;
}
.content .publication-meta {
  color: #545454;
  font-size: 1rem;
  line-height: 1.25rem;
}
@media (min-width: 37.5em) {
  .content .publication-meta {
    font-size: 1.125rem;
  }
}
.article-date {
  color: #788b9b;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.25rem;
  text-transform: uppercase;
}
@media (min-width: 37.5em) {
  .article-date {
    font-size: 1.25rem;
  }
}
.caseStudy-meta {
  color: #306175;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}
@media (min-width: 37.5em) {
  .caseStudy-meta {
    font-size: 1.25rem;
  }
}
.article-signUp {
  margin-top: 50px;
}
@media (min-width: 37.5em) {
  .article-signUp {
    margin-top: 100px;
  }
  .header {
    border-bottom: 1px solid #e0e7e9;
  }
}
.header-measure {
  max-width: 1200px;
}
.header-measure:after {
  clear: both;
  content: "";
  display: table;
}
@media (min-width: 77.5em) {
  .header-measure {
    margin-left: auto;
    margin-right: auto;
  }
}
.header-logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
}
.header-logo a {
  color: #2d3748;
  text-decoration: none;
}
@media (min-width: 33.125em) {
  .header-logo {
    float: left;
    margin-top: 25px;
  }
}
@media (min-width: 77.5em) {
  .header-logo {
    padding-left: 0;
  }
}
.header-nav {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 20px;
}
@media (min-width: 23.4375em) {
  .header-nav {
    border-bottom: none;
    border-top: none;
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 5px;
  }
}
@media (min-width: 33.125em) {
  .header-nav {
    float: right;
  }
}
.footer {
  background-color: #edf2f7;
  padding-bottom: 25px;
  padding-top: 25px;
}
@media (min-width: 37.5em) {
  .footer {
    padding-top: 50px;
  }
}
.footer-measure {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1200px;
}
@media (min-width: 50em) {
  .footer-measure {
    overflow: hidden;
  }
}
@media (min-width: 77.5em) {
  .footer-measure {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;
}
.footer-copyright {
  border-top: 1px solid #545454;
  margin-top: 10px;
  padding-top: 25px;
}
@media (min-width: 50em) {
  .footer-logo {
    float: left;
  }
  .footer-nav {
    float: right;
  }
}
.footer-list {
  font-size: 16px;
  line-height: 25px;
  list-style: none;
  margin-bottom: 25px;
}
@media (min-width: 50em) {
  .footer-list {
    float: left;
    font-size: 18px;
    line-height: 30px;
    padding-right: 41px;
    width: 165px;
  }
}
.footer a {
  color: #2d3748;
}
.nav ul {
  font-size: 0;
  list-style: none;
}
.nav li {
  display: block;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
}
.nav a:link,
.nav a:visited {
  color: #545454;
  display: block;
  padding: 10px 6px;
  text-decoration: none;
}
@media (min-width: 23.4375em) {
  .nav a:link,
  .nav a:visited {
    border-bottom: 5px solid #fff;
    padding: 17px 14px 20px;
  }
}
.nav a:focus {
  outline-offset: -3px;
  position: relative;
}
.nav a:hover {
  color: #2d3748;
}
.nav a:active,
.nav a[aria-current="page"]:active {
  background-color: #edf2f7;
}
.nav a:active {
  border-color: #edf2f7;
}
@media (min-width: 23.4375em) {
  .nav a[aria-current="page"]:active {
    border-color: #2d3748;
  }
}
.nav a[aria-current="page"] {
  color: #2d3748;
  font-weight: 700;
}
@media (min-width: 23.4375em) {
  .nav a[aria-current="page"] {
    border-bottom: 5px solid #2d3748;
  }
}
.articleList .articleList-articleTitle {
  margin-bottom: 15px;
}
.heading-caption {
  font-size: 1.125rem;
  letter-spacing: 0.02em;
  line-height: 1.125rem;
  margin: 0;
  padding: 3px 5px;
  text-transform: uppercase;
}
.heading-caption--note {
  background-color: #f9fafb;
  color: #6b7280 !important;
}
.heading-caption--article {
  border: 2px solid #2d3748;
  color: #2d3748 !important;
  letter-spacing: 0;
  padding: 1px 5px;
}
.articleList .articleList-articleTitle > a:link,
.articleList .articleList-articleTitle > a:visited {
  color: #039be5;
  display: block;
  text-decoration: none;
}
.articleList .articleList-articleTitle > a:hover {
  color: #0277bd;
}
.articleList .articleList-date {
  color: #545454;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 55px;
}
@media (min-width: 37.5em) {
  .articleList .articleList-date {
    font-size: 1.125rem;
    margin-bottom: 75px;
  }
}
.caseStudyList .caseStudyList-title {
  margin-bottom: 15px;
}
.caseStudyList .caseStudyList-title a:link,
.caseStudyList .caseStudyList-title a:visited {
  color: #039be5;
  display: block;
  text-decoration: none;
}
.caseStudyList .caseStudyList-title a:hover {
  color: #0277bd;
}
.caseStudyList .caseStudyList-meta {
  color: #545454;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 55px;
}
@media (min-width: 37.5em) {
  .caseStudyList .caseStudyList-meta {
    font-size: 1.125rem;
    margin-bottom: 75px;
  }
}
.subscribeForm {
  margin: 0 auto 25px;
}
@media (min-width: 37.5em) {
  .subscribeForm {
    margin-bottom: 45px;
  }
}
.subscribeForm-label {
  color: #6f777b;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}
@media (min-width: 37.5em) {
  .subscribeForm-label {
    font-size: 22px;
    line-height: 20px;
  }
  .subscribeForm-field {
    display: flex;
  }
}
.subscribeForm-email {
  -webkit-appearance: none;
  background-color: #edf2f7;
  border: none;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
}
.subscribeForm-email:focus {
  outline: 3px solid #ffd346;
}
@media (min-width: 37.5em) {
  .subscribeForm-email {
    display: inline-block;
    font-size: 1.375rem;
    margin-bottom: 0;
    max-width: 21em;
  }
}
.subscribeForm-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #0277bd;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.91px;
  line-height: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.subscribeForm-button:focus {
  outline: 3px solid #ffd346;
}
.subscribeForm-button:hover {
  background: #01579b;
  box-shadow: none;
}
@media (min-width: 37.5em) {
  .subscribeForm-button {
    display: inline-block;
    margin-left: 10px;
    width: auto;
  }
}
.subscribeLink:link,
.subscribeLink:visited {
  background: #0277bd;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.91px;
  line-height: 20px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.subscribeLink:link:focus,
.subscribeLink:visited:focus {
  outline: 3px solid #ffd346;
}
.subscribeLink:link:hover,
.subscribeLink:visited:hover {
  background: #01579b;
  box-shadow: none;
}
@media (min-width: 37.5em) {
  .subscribeLink:link,
  .subscribeLink:visited {
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 64em) {
  .pagination {
    font-size: 0;
    text-align: justify;
  }
  .pagination:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}
.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 64em) {
  .pagination__list {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
.pagination__item {
  display: inline-block;
  font-size: 1.125rem;
  margin-left: 0 !important;
}
@media (min-width: 37.5em) {
  .pagination__item {
    font-size: 1.375rem;
  }
}
.pagination__item--active,
.pagination__item--dots {
  font-weight: 700;
  height: 25px;
  text-align: center;
}
.pagination__item--dots {
  padding-left: 0;
  padding-right: 0;
}
.pagination__item--next .pagination__link:after,
.pagination__item--prev .pagination__link:before {
  background: transparent;
  border-style: solid;
  content: "";
  display: inline-block;
  height: 10px;
  transform: rotate(-45deg);
  width: 10px;
}
.pagination__item--prev .pagination__link:before {
  border-width: 3px 0 0 3px;
}
.pagination__item--next .pagination__link:after {
  border-width: 0 3px 3px 0;
}
.pagination__link {
  display: block;
  min-width: 25px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
.cards > ul {
  list-style: none;
}
.card + .card {
  margin-top: 1.5rem;
}
@supports (display: grid) {
  .cards > ul {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  .card + .card {
    margin-top: 0;
  }
}
.card {
  border: 1px solid #e0e7e9;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card .text {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 1rem;
}
.card p {
  max-width: 60ch;
}
.card .img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 1rem));
  height: 6.5rem;
}
.card .img img {
  filter: grayscale(100%);
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.card a {
  text-decoration: none;
}
.card a:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.card a:focus {
  outline: none;
  text-decoration: underline;
}
.card:focus-within,
.card:hover {
  box-shadow: 0 0 0 0.25rem #e0e7e9;
}
.card:focus-within a:focus {
  text-decoration: none;
}
.card small {
  display: block;
}
.card .text > * + * {
  margin-top: 0.75rem;
}
.card .text > :last-child {
  margin-top: auto;
  padding-top: 0.75rem;
}
